body {
    background-color: whitesmoke;
}

.body {
    display: flex;
    justify-content: center;
}

#food {
    display: block;
    text-align: center;
}

.food-background {
    background-color: rgb(205, 205, 205);
   
    padding: 5px;
    display: flex;
    display: block;
    margin: auto;
    box-shadow: 5px 5px 5px rgb(43, 43, 43);
    margin-bottom: 10px;
}

.max-card {
    max-width: 750px;
}

.videocard {
    max-width: fit-content;
    display: block;
    margin: auto;
}

 .float-container {
 margin: auto;
 margin-top: 25px;
}

button {
    font-size: larger;
    box-shadow: 2px 2px 2px grey;
    display: flex;
    margin:auto;
    margin-top: 25px;
    margin-bottom: 40px;
}

